* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: sans-serif; */
    box-sizing: border-box;
    -webkit-user-select: text;
    -moz-user-select: none;
    -ms-user-select: text;
    user-select: text;
}

::placeholder {
    user-select: none;
}

input {
    outline-offset: 3px;
    outline-color: none;
}

@media (prefers-color-scheme: light) {
    :root {
        --text: rgb(0, 0, 0);
        --background: rgb(237, 255, 240);
        /* --background: rgb(255, 249, 226); */
        /* --background: rgb(255,255,255); */
        --primary: rgb(65, 195, 100);
        --secondary: rgb(61, 102, 79);
        --accent: rgb(76, 206, 132);
    }
}

/**! @PiwkoM revise accent,background,secondary, kinda ugly tbh*/
/**light background revised*/

@media (prefers-color-scheme: dark) {
    :root {
        --text: rgb(255, 255, 255);
        --background: rgb(1, 31, 8); 
        --primary: rgb(65, 195, 100);
        --secondary: rgb(61, 102, 79); 
        --accent: rgb(130, 171, 157); 
    }
}

body {
    color: var(--text);
    font-size: 1.5em;
    background: var(--background);
    inset: 0;
    position: absolute;
}

header {
    padding-top: 2rem;
    text-align: center;
    height: 100svh;
    background: var(--primary);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

header > h1 {
    padding: 2rem;
    font-size: 4.5rem;
}

header > p {
    text-wrap: balance;
    line-height: 1.5;
    font-size: 1.75rem;
}

header > search > form > input {
    padding: 0.7rem;
    width: 50%;
    border-radius: 10px;
    border: none;
    border-bottom: 1px solid black;
}

header > search > form > input::placeholder {
    text-align: center;
}

img {
    display: block;
    width: 100%;
}

footer{
    height: 20px;
    background-color: var(--secondary);
}

menu {
    display: flex;
    justify-content: space-evenly;
}

menu > p {
    height: 10rem; 
    aspect-ratio: 1/1;
    background: white;
    flex-grow: 0;
    word-break:break-all;
}



/* TEST STYLES, WILL CHANGE FREQUENTLY*/

#offerCreate > form > input[type="text"]{
    border: none;
    border-bottom: 1px solid black;
    border-radius: 10px;
    width: auto;
    padding: 0.6rem;
}

input:focus{
font-weight: bold;
outline: none;
}

