* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: sans-serif; */
    box-sizing: border-box;

}

@media (prefers-color-scheme: light) {
    *{
        --text: rgb(255, 255, 255);
        --background: rgb(1, 30, 8);
        --primary: rgb(65, 195, 100);
        --secondary: rgb(61, 102, 79);
        --accent: rgb(130, 171, 157);
    }
}

@media (prefers-color-scheme: dark) {
    *{
        --text: rgb(0, 0, 0);
        --background: rgb(0, 0, 0);
        --primary: rgb(65, 195, 100);
        --secondary: rgb(61, 102, 79);
        --accent: rgb(130, 171, 157);
    }
}
header{
    text-shadow: none;
    /* *let header get body bg, assign bg to menu lole */
}

body {
    color: var(--text);
    font-size: 2em;
    background: var(--background);
}

img {
    display: block;
    width: 100%;
}

footer{
    background-color: var(--accent);
}
