* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: sans-serif; */
    box-sizing: border-box;

}

@media (prefers-color-scheme: light) {
    * {
        --text: rgb(0, 0, 0);
        --background: rgb(255,255,255);
        --primary: rgb(65, 195, 100);
        --secondary: rgb(61, 102, 79);
        --accent: rgb(130, 171, 157);
    }
    menu:active > p:hover{
        color: white;
    }
}

@media (prefers-color-scheme: dark) {
    * {
        --text: rgb(255, 255, 255);
        --background: rgb(1, 31, 8);
        --primary: rgb(65, 195, 100);
        --secondary: rgb(61, 102, 79);
        --accent: rgb(130, 171, 157);
    }
    menu:active > p:hover{
        color: black;
    }
}

body {
    color: var(--text);
    font-size: 1.5em;
    background: var(--background);
}

header {
    text-align: center;
    height: 100svh;
}

header > h1 {
    padding: 2rem;
    font-size: 2rem;
}

img {
    display: block;
    width: 100%;
}

footer{
    background-color: var(--accent);
}

menu {
    display: flex;
    justify-content: space-evenly;
}

menu > p {
    height: 10rem;
    aspect-ratio: 1/1;
    background: white;
    flex-grow: 0;
    color: black;
    word-break:break-all;
}
