@import "global.css";


#body-access {
    margin: 0;
    display: flex;
    font-size: 16px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}



main {
    --_line-width: 2px;
    min-height: 500px; /* or height: max(500px, 85svh) */
    height: 85svh; /* 85svh or 100svh */
    min-width: 100%;
    /* min-width: max(600px, 95svw); */
    /* margin-inline: auto; if line above is turned on */
    background: rgb(var(--secondary));
    box-shadow: 0px 0px 8px 0.1px gray;
    display: flex;
    align-items: center;
    flex-direction: row;
    /* flex-direction: row-reverse; */
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.logo img {
    width: 80%;
    aspect-ratio: 1/1;
}

.line {
    width: var(--_line-width);
    background: rgba(100, 100, 100, 0.5);
    height: 90%;
    box-shadow: 1px 0px 1px 0.1px rgba(200, 200, 200, 0.5);
    margin: 0;
}

h1 {
    text-align: center;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 1.5rem;
}

h1::after {
    content: '';
    width: 90%;
    height: 2px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.form-wrapper {
    flex: 2.5;
}
.container-login{
    border: 1px solid black;
    padding: 10px 20px;

}
.container-register{    
    border: 1px solid black;
    padding: 10px 20px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}

input {
    border: none;
    padding: 0.5rem;
    margin: 0.25rem;
    font-size: 0.95em;
}

input:not(input[type="submit"]):not(input[type="checkbox"]) {
    background: none;
    width: 100%;
    border: 1px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input:not([type="submit"]):not(:placeholder-shown):invalid {
    color: rgb(var(--deny-error, crimson));
}

input:not([type="submit"]):not(:placeholder-shown):valid {
    color:  rgb(var(--text));
}

input[type="submit"] {
    padding: 0.3rem 0.8rem;
    margin: 0.25rem;
    font-size: 1.2em;
    min-width: max(10rem, 25%);
    background-color: black;
    color: white;
}

.error-msg {
    font-size: 0.9rem;
    color: rgb(var(--deny-error-700, crimson));
    /* text-transform: uppercase; */
    font-variant: all-small-caps;
}

form :focus-visible {
    outline: 1px solid rgb(255,255,255, 0.667);
    outline-offset: 3px;
}



