@import "global.css";
#data-container{
    display: none;
}
#btn-show-data{
    padding: 5px 10px;
    border-radius: 0;
    border: 1px solid black;
    background-color: white;
    color: black;
}

#btn-show-data:hover{
    background-color: black;
    color: white;
}
