@import "./global.css";

#booklist,
#booklist-files {
    max-width: min(1400px, 100% - 4rem);
    margin-inline: auto;
    /* padding: 2rem; */
}

#booklist-files {
    min-height: 10%;
}

#booklist-files > a {
    display: block;
    margin: 0.5rem;
    padding: 0.2rem;
    font-size: 1.2rem;
}

.card {
    background: rgb(var(--secondary-300));
    margin-bottom: 2rem;
}

h1 {
    font-size: 2rem;
    margin: 1rem;
}

.card > span {
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    background: rgb(var(--secondary-200));
    box-shadow: 0px 2px 3px 0.1px rgb(var(--accent-200));
    gap: 1rem;
}

.card > span > p:first-child {
    flex-grow: 1;
    text-align: left;
    text-wrap: wrap;
}

.card > span > p:last-child {
    text-align: right;
    flex-grow: 0;
}

ul {
    word-break: break-word;
}

li {
    padding: 0.75rem;
    font-size: 1rem;
}