@import "./global.css";

/* TODO @AdamrePL - Make it responsive 💀, it looks horrible on mobile devices */

#booklist,
#booklist-files {
    max-width: min(1400px, 100% - 4rem);
    transition: 0.5s;
    margin-inline: auto;
    padding: 2rem;
    display: flexbox;
}

#booklist-files {
    min-height: 10%;
}

#booklist-files > a {
    display: block;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.card {
    background-color: white;
    margin-bottom: 2rem;
}

h1 {
    font-size: 2rem;
    margin: 1rem;
}

.card > span {
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.card > span > p:first-child {
    flex-grow: 2;
    flex-shrink: 1;
    text-align: left;
    word-break: break-word;
    text-wrap: wrap;
}

.card > span > p:last-child {
    text-align: right;
    flex-grow: 1;
    flex-basis: 20%;
}

<<<<<<< Updated upstream
.side-panel {
    color: white;
    height: 100%;
    width: 0;
    position: fixed;    
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}


.side-panel > p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    transition: 0.3s;
  }
.side-panel > p:hover, .btn-filter:hover{
    opacity: 0.5;
}


.side-panel > hr{
    margin-left: 20px;
    width: 85%;
}
<<<<<<< HEAD
<<<<<<< Updated upstream
#books{
    transition: 0.5s;
}
#books-title{
=======
.side-panel-title{
    text-align: center;
}
.side-panel > .btn-filter{
}
=======
.side-panel-title{
    text-align: center;
}
>>>>>>> e22fff761387592c840f29755f5ce7895985ad0e
.btn-filter{
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
<<<<<<< HEAD
    padding: 15px 20px;
    border:none;
}

.container{
>>>>>>> Stashed changes
=======
    padding: 10px 15px;
    border: none;   
    width: fit-content;
}

.container{
>>>>>>> e22fff761387592c840f29755f5ce7895985ad0e
    transition: 0.5s;
}
=======
#btn-container{
    max-width: min(1400px, 100% - 4rem);
    margin-inline: auto;
    padding: 2rem;
}
.btn-filter{
    border: 2px solid black;
    background-color: white;
    color: black;
    margin: 5px;
    display:flex;
    padding: 14px 28px;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
}
.btn-filter:hover{
    background-color: black;
    color: white;   
}

>>>>>>> Stashed changes

ul {
    list-style: inside;
    list-style-type: none;
    padding: 0;
}

li {
    padding: 0.75rem;
    word-break: break-word;
}

