@import "../css/global.css";

body {
    background: rgb(var(--background));
}

body > a {
    color: rgb(var(--text));
    -webkit-text-stroke: 1px rgb(var(--text));
    font-size: 2rem;
    background: linear-gradient(90deg,rgb(var(--secondary)),20%,rgb(var(--background)));
    text-decoration: none;
    transition: all 0.2s ease;
}

body > a:hover{
    color: white;
    -webkit-text-stroke: 1px rgb(var(--secondary-500));
}

#offer-creation {
    font-size: 1.5rem;
}

#offer-creation > 