
:root {
    
    --text: #050315; /*--text: rgb(0,0,0)*/
    --background: #f2f0fe; /*--background: rgb(237, 255, 240); */
    --primary: #5522a7; /*--primary: rgb(91, 216, 124);*/
    --secondary: #526BFE; /*--secondary: rgb(61, 102, 79);*/
    --accent: #f4eecb; /* --accent: #fafe2a;     --accent: rgb(76, 206, 132);   */

}

@media (prefers-color-scheme: dark) { /*i am not doing this shit*/
    :root {
        --text: rgb(0,0,0);
        --background: rgb(9, 16, 11); /* --background: rgb(1, 31, 8);  */
        --primary: rgb(65, 195, 100);
        --secondary: rgb(21, 87, 39); /* --secondary: rgb(61, 102, 79);  */
        --accent: rgb(12, 48, 22); /* --accent: rgb(130, 171, 157);  */
        /* color for menu item bg rgba(43, 42, 51,0.9); */
    } 
}

* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* ! Default font for this website: sans-serif */
    box-sizing: border-box;

    -webkit-user-select: text;
    -moz-user-select: none;
    -ms-user-select: text;
    user-select: text;
}

html {
    color-scheme: light dark;
    scroll-behavior: smooth;
}

footer {
    width: 100%;
    text-align: center;
    padding: 1.5rem;
    
    /* ? letter-spacing: 1pt; */
}