@import "global.css";

a:link {
    text-decoration: none;
}

menu {
    position: fixed;
    width: 100%;
    padding: 0px;
    display: grid;
    justify-items:center;
    grid-template-columns: repeat(5,1fr);
    height: 90px;
    box-shadow: 1px 0px 50px rgb(var(--primary-500));
    background: rgb(var(--primary-400)); /*TODO: change bg color to sth else*/
    transition: all 0.5s ease-out;
}

menu > a {
    background: none;
    text-align: center;
    width: 100%;
    padding-top: 1.5rem;
    color: rgb(var(--accent));
    text-shadow: 3px 3px 3px black;
    font-size: 1.5rem;
    border-bottom: 0px solid black;
    transition: all 0.2s ease-out;
}

menu > a:hover{
    background: rgba(135, 135, 135, 0.9);
    border-bottom: 5px solid rgb(var(--accent));
    text-shadow: 0px 0px 5px rgb(var(--accent));
}

menu > span {
    padding-top: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    background: none;
    width: 100%;
    height:100%;
}

menu > span > a {
    text-align: center;
    width: 80%;
    padding-top: 0.5rem;
    color: rgb(var(--accent));
    text-shadow: 1px 0px 1px black;
    font-size: 1.5rem;
    border: none
}

#log, #prof {
    color: rgb(var(--accent));
    -webkit-text-stroke: 1px black;
    -webkit-text-stroke-width: 1px;
    width: 100%;
    border-radius: 200px;
    transition: all 0.2s ease;
    height: 65%;
}

#log {
    background: rgb(var(--accent));
    z-index: 1;
    border-radius: 200px;
    transform: translateX(10px);
}

#prof {
    background:rgba(244, 238, 203, 0.903);
    transform: translateX(-20px);
}

#log:hover,#prof:hover {
    color: rgb(var(--secondary));
    width: 110%;
}
/* 
#prof:hover{
    z-index: 3;
} 
commented because having a z index change on hover is apparently a fucking astronomical concept to the language*/
