@import "global.css";
@import "user-settings.css";

body {
    background: rgb(var(--background-50));
}

#user-details {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 10px 2px gray;
    height: 15rem;
}

#user-details > * {
    margin: 2rem;
    text-align: center;
}

.user {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 20%;
    align-items: center;
}

.user > * {
    flex-basis: 100%;
}

.user-id {
    background: repeating-linear-gradient(45deg, black 15px, white 20px);
    height: 2rem;
}

.uid {
    background: black;
    color: white;
    font-size: 50%;
}

.contact {
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* .contact ::first-letter {
    text-transform: uppercase;
} */

.contact > * {
    flex-basis: 50%;
}

.user-offers {
    width: 90%;
    background: rgb(var(--background-200), 0.5);
    min-height: calc(100% - 18rem);
    margin-top: 20px;
    margin-inline: auto;
}

.offer {
    display: flex;
    height: 5rem;
    background: rgb(var(--secondary));
}

.agree {
    background: rgb(47, 255, 54);
    border: none;
}

.disagree {
    border: none;
    background: crimson;
}