@import "global.css";
@import "user-settings.css";

body {
    background: rgb(var(--background-50));
}
a {
    text-decoration: none;
}

/*#region User Profile */

#user-details {
    background: rgb(var(--primary-300));
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 10px 2px gray;
    height: 15rem;
}

#user-details > * {
    margin: 1.5rem 2rem;
    text-align: center;
}

.user {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    flex-basis: 20%;
    gap: 1.5rem;
}

.user-id {
    font-size: 1.125rem;
    text-wrap: balance;
    height: 100%;
    font-variant: all-small-caps;
    line-height: 1.1;
}

.user-id > p {
    font-size: 1rem;
}

.user-id > button {
    padding: 0.25rem 1rem;
    margin-inline: auto;
    font-size: 1rem;
    width: 40%;
}

.uid {
    display: block;
    background: repeating-linear-gradient(45deg, black 15px, white 25px);
    font-size: 1.5rem;
    text-align: center;
}

.uid::after {
    content: "click to show uid";
    display: block;
    color: white;
    background: rgb(0, 0, 0, 0.5);
    padding: 0.25rem;
}

.contact {
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

div ~ span{
    display: flex;
    justify-content: center;
    height: 30%;
    width: 20%;
    margin: 0;
    padding: 0.5rem;
    margin-left: auto;
    
    a[name="user_edit"], a[name="logout"] {
        font-size: 1.2rem;
        padding: 2%;
        /* display: block; */
        height: auto;
        width: 8rem;
        overflow:hidden;
        border: none;
        border-radius: 5px;
        text-shadow: 0px 0px 3px gray;
        transition: all 0.2s ease-in-out;
    }

    a[name="user_edit"] {   
        background: rgb(var(--primary-400));
        color: white;
        z-index: 0;
        transform:translateX(2%);
    }

    a[name="logout"] {
        --primary-450: 115, 95, 230;
        background: rgb(var(--primary-450));
        color: white; 
        z-index: 1;
        transform:translateX(-2%);
    }

    a[name="user_edit"]:hover, a[name="logout"]:hover {
        width: 10.5rem;
    }   

}

/* .contact ::first-letter {
    text-transform: uppercase;
} */

.contact > * {
    flex-basis: 50%;
}

.agree {
    background: rgb(var(--confirm-success-400));
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 3px 0.05px rgb(var(--confirm-success-200));
}

.disagree {
    border: none;
    background: rgb(var(--deny-error-400));
    border-radius: 3px;
    box-shadow: 2px 2px 3px 0.05px rgb(var(--deny-error-200));
}

/* #endregion User Profile*/

/*#region User Offers */
.no-offers {
    text-align: center;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgba(var(--accent-50),0.7);
    height: 30%;
    margin-top: 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-wrap: balance;
    font-size: 5rem;
}

.no-offers > a{
    transition: all 0.2s ease;
}

.no-offers > a:hover {
    color: rgb(var(--confirm-success-400));
}

.user-offers {
    width: 95%;
    /* background: rgb(var(--background-200), 0.5); */
    max-height: calc(100% - 17rem);
    height: 100%;
    /* min-height: calc(100% - 18rem); */
    overflow-y: scroll;
    margin-inline: auto;
}

.offer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: rgb(var(--accent-200));
    height: auto;
    min-height: (9rem);
    width: 97%;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1.3rem;
    transition: all 0.2s ease-out;
}

.offer > * {
    width: 100%;
}

.offer:hover {
    background: rgb(var(--background-200));
}

.offer details {
    padding-left: 1.5rem;
}

.offer details summary {
    list-style: circle;
    cursor: pointer;
}

.offer details[open] summary {
    list-style: disc;
}

.offer p {
    font-weight: bold;
}

.offer_management {
    font-variant:small-caps;
    transition: all 0.2s ease-in-out;    
    color: rgb(var(--secondary-500));
    -webkit-text-stroke: 1px rgb(var(--secondary-500));
}

.offer_management:hover{
    font-size: 1.1rem;
    -webkit-text-stroke: 1px red; /*?change later */
    color: red;
}

.misc{
    font-size: 0.9rem;
    display: flex;
    justify-content:space-between;
    margin: 0;
    padding: 0;
}
/* #endregion User Offers */
