@import "global.css";

::placeholder {
    user-select: none;
}

input:focus {
    outline-offset: 3px;
    outline-color: transparent;
}

body {
    color: var(--text);
    font-size: 1.5em;
    background: var(--background);
    inset: 0;
    position: absolute;
}

header {
    padding-top: 2rem;
    text-align: center;
    height: 95svh;
    background: var(--primary);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

header > h1 {
    padding: 2rem;
    font-size: 4.5rem;
}

header > p {
    text-wrap: balance;
    line-height: 1.5;
    font-size: 1.75rem;
}

header > search > form {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-inline: auto;
}

header > search > form > input[type="search"] {
    padding: 0.7rem;
    flex-basis: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

header > search > form > input[type="submit"] {
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid black;
    flex-basis: 1;
}

header > search > form > input::placeholder {
    text-align: center;
}

header > search > form:has(input:focus-within) {
    outline: auto;
    outline-color: transparent;
    outline-width: 0.1px;
    outline-offset: 3px;
}

header a {
    color: black;
    font-size: 1.3rem;
    /*? decide if should use font-weight: bold; or leave as is  */
    margin: 0rem;
    padding: 1rem;
    height: 5rem;  
    aspect-ratio: 4/1;
    background: rgba(255,255,255,0.9);
    backdrop-filter: blur(10px);
    flex-grow: 0;
    word-break:break-word;
    border-radius: 0.3rem;
    border-bottom: 5px solid var(--secondary);
    transition: all 0.2s ease-in-out;
}

header a:hover{
    color: var(--accent);
    transform: translateY(-10px);
    box-shadow: 0px 5px 10px black;
}

header a:link{
    text-decoration: none;
}
/*! HEADER STYLES BASICALLY DONE, ONLY PERFORM SMALL ALTERATIONS */

img {
    display: block;
    width: 100%;
}

footer{
    height: 20px;
    border-top: 10px solid var(--accent);
}

menu > nav{
    /* change to grid */
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
}

body > nav{
    /* placeholder pls no ban */
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(1fr,6);
    justify-items: center;
}


/** grid solution because i am inept at flexbox (ooga booga)
    menu > nav{
    width: 75%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
}
*/

/* menu > p {

    margin: 1rem;
    height: 10rem; 
    height: 5rem; 
    aspect-ratio: 1/1;
    background: var(--secondary);
    flex-grow: 0;
    word-break:break-all;
} */



/* TEST STYLES, WILL CHANGE FREQUENTLY*/