@import "global.css";

body {
    color: rgb(var(--text));
    font-size: 1.5em;
    background: rgb(var(--background));
}

/* ? okay hear me out, I found out now, how siblings selector work, so basicaly: 
    * if you were to use +; example: h1 + p {} - you'd have selected an element that is right after the h1
    * whereas if you had used ~ it wouldn't matter where the sibling is, as long as its in the same parent, it would've selected it. 
    * so, if you want to choose sibling element there are atleast 2 "arguments" required: first - element off of which you want to choose next sibling '+' second - the sibling element you want to choose.
    ? ^ too many words, '+' selects sibling after 1st arg, ~ selects any sibling of same type as 2nd arg when it appears after 1st arg
    * .. oh btw i dont even know if that sentence exists or if its atleast correct    -->   -->     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^, please correct me if im wrong (id like to know) and uhh I know I had milion different ways to say that but jsut felt like using this.

    oh and one more thing, if you'd want to choose parent of an element, lets say a parent element of something that has a class... toggled. and you dont want to create another class (Because you shouldnt or you atleast should minimize their amount) to select that element that has a child with that class,
    THEN you want to use something like this; parent:has(.toggled), you can even read it clearly out of syntax what it does, but be careful, accidently typing space between: parent :has(.toggled) - would select ALL CHILDREN from that parent that have 'toggled' class
*/

/* oh and just right now after I wrote this, found out we can add our custom comments formatting, like if we'd used $ for something within comment */
/* & go to file extensions, click cogwheel.. cogwheel? wasnt there a different word for that? anyway.. and then the setting at the bottom: tags
open that up and then where the tags are, paste in this thing below, after you do that, return to this file and check out line above ^^^ @PiwkoM

,
        {
            "tag": "&",
            "color": "#b1ae17",
            "strikethrough": false,
            "underline": false,
            "backgroundColor": "transparent",
            "bold": true,
            "italic": false
        }

*/

header {
    padding-top: 2rem;
    text-align: center;
    height: 95svh;
    background: rgb(var(--primary));
    display: flex;
    justify-content:center;
    gap: 3rem;
    flex-direction: column;
    /* flex-direction: row;
    flex-wrap: wrap; */
    box-shadow: 0px 0px 5px 4px rgb(var(--primary));
}

/* header > * {
    flex: 100%;
} */

header > h1 {
    /* padding: 2rem; */
    font-size: 4.5rem;
}

header > p {
    text-wrap: balance;
    line-height: 1.5;
    font-size: 1.75rem;
    margin-bottom: 2rem;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}

header > search {
    margin-top: 15%;
    margin-bottom: 2rem;
}

header > search > form {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-inline: auto;
}

header > search > form > input[type="search"] {
    padding: 0.7rem;
    flex-basis: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

header > search > form > input[type="submit"] {
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid black;
    flex-basis: 1;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

header > search > form > input::placeholder {
    text-align: center;
}

header > search > form:has(input[type="search"]:focus-within) {
    outline: auto;
    outline-color: transparent;
    outline-width: 0.1px;
    outline-offset: 3px;
    border-radius: 2px;
}

header > menu > nav {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

header a {
    color: rgb(var(--text-900));
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0rem;
    padding: 1rem;
    height: 5rem;
    aspect-ratio: 4/1;
    background: rgb(var(--background-200));
    flex-grow: 0;
    word-break: break-word;
    border-radius: 0.3rem;
    border-bottom: 5px solid rgb(var(--secondary));
    box-shadow: 0px 0px 3px 0.5px rgba(var(--primary-500),0.5);
    transition: all 0.175s ease-in-out;
}

header a:hover {
    transform: translateY(-10px);
    border-bottom: 6px solid rgb(var(--secondary-300));
    box-shadow: 0px 4px 15px 0.1px rgba(var(--primary-600), 0.9);
    background: rgb(var(--background-500));
    color: rgb(var(--secondary-500));
}

header a:link,
nav a:link {
    text-decoration: none;
}

/*
idea for background: get b-roll footage/images of some book activities (reading,handling,etc), set background to opaque,
roll them mfs like a movie

aight bet >:)
get them images first tho
we make it npc-ahh website
*/

footer {
    padding: 15px;
    height: 130px;
    border-top: 5px solid rgb(var(--primary-400));
    background: rgb(var(--primary-300));
}

menu > nav {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
}

#nawigacja {
    width: 80%;
    margin: 2rem auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(max(15rem, 20%), 1fr));
    /* flex-wrap: wrap; */
    justify-self: center;
    word-wrap: break-word;
}

/*these definitely are buttons*/
#nawigacja > a {
    border: 1px solid transparent;
    color: black;
    background: rgba(var(--primary-400),0.2); 
    justify-self: center;
    text-align:center;
    padding: 1.7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    aspect-ratio: 2/1;
    font-size: 1.3rem;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 3px 0.05px black;
    transition: all 0.2s ease-in-out;
}

#nawigacja > a:hover{
    transform: translateY(-5px);
    background: rgba(var(--primary-300),1);
    color: rgb(var(--text-50));
    border: 1px solid rgba(var(--primary-300),1);
    border-bottom: 5px solid rgb(var(--primary-400));   
    box-shadow: 0px 5px 5px 1px rgba(var(--accent-700),0.5);
}