:root {
    --text: rgb(0, 0, 0);
    --background: rgb(237, 255, 240);
    /* --background: rgb(255, 249, 226); */
    /* --background: rgb(255,255,255); */
    --primary: rgb(65, 195, 100);
    --secondary: rgb(61, 102, 79);
    --accent: rgb(76, 206, 132);
}

* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: sans-serif; */
    box-sizing: border-box;
    -webkit-user-select: text;
    -moz-user-select: none;
    -ms-user-select: text;
    user-select: text;
}

html {
    color-scheme: light dark;
    scroll-behavior: smooth;
}

::placeholder {
    user-select: none;
}

input:focus {
    outline-offset: 3px;
    outline-color: transparent;
}

#offerCreate > form > input[type="text"]{
    border: none;
    border-bottom: 1px solid black;
    border-radius: 10px;
    width: auto;
    padding: 0.6rem;
}

/**! @PiwkoM revise accent,background,secondary, kinda ugly tbh*/
/**light background revised*/

@media (prefers-color-scheme: dark) {
    :root {
        --text: rgb(0,0,0);
        /* --background: rgb(1, 31, 8);  */
        --background: rgb(9, 16, 11);
        --primary: rgb(65, 195, 100);
        --secondary: rgb(21, 87, 39);
        --accent: rgb(12, 48, 22);
        /* --secondary: rgb(61, 102, 79);  */
        /* --accent: rgb(130, 171, 157);  */
    }
    #offerCreate > form >input[type="text"] { 
        border: none;
        border-radius: 10px;
        width: auto;
        padding: 0.6rem;
        /* haha color go [UNASSIGNED] */
    }
}

body {
    color: var(--text);
    font-size: 1.5em;
    background: var(--background);
    inset: 0;
    position: absolute;
}

header {
    padding-top: 2rem;
    text-align: center;
    height: 95svh;
    background: var(--primary);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

header > h1 {
    padding: 2rem;
    font-size: 4.5rem;
}

header > p {
    text-wrap: balance;
    line-height: 1.5;
    font-size: 1.75rem;
}

header > search > form {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-inline: auto;
}

header > search > form > input[type="search"] {
    padding: 0.7rem;
    flex-basis: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

header > search > form > input[type="submit"] {
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid black;
    flex-basis: 1;
}

header > search > form > input::placeholder {
    text-align: center;
}

header > search > form:has(input:focus-within) {
    outline: auto;
    outline-color: transparent;
    outline-width: 0.1px;
    outline-offset: 3px;
}

img {
    display: block;
    width: 100%;
}

footer{
    height: 20px;
    border-top: 10px solid var(--accent);
    background-color: black;
}

menu {
    /* change to grid */
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
}

menu > p {

    margin: 1rem;
    height: 10rem; 
    height: 5rem; 
    aspect-ratio: 1/1;
    background: var(--secondary);
    flex-grow: 0;
    word-break:break-all;
}



/* TEST STYLES, WILL CHANGE FREQUENTLY*/