@import "global.css";

/**
  * * @AdamrePL Answer sheet:
  * ! topic: content spacing ||| answer: @AdamrePL, Yes.
  * ! topic: explaining the content spacing ||| answer: i do
  * ? topic: font size, word&letter spacing ||| answer(s) {
  * ?   font size: good, keep
  * ?   word spacing: good, keep
  * ?   letter spacing: PLEASE FOR THE LOVE OF GOD NO, ITS FINE AS IT IS
  * ? }
*/
* {
    margin: revert;
}

body {
    font-size: 14pt; 
    
    word-spacing: 0.3pt;

}   

nav > ol > li {
    margin-block: 0.3rem;
}

article {
    margin-bottom: 2.5rem;
    line-height: 1.5;
}

h3::first-letter {
    text-transform: capitalize;
}

p {
    max-width: 80%;
    padding-left: 1rem;
}

::selection {
    color: black;
    background-color: mediumspringgreen; 
    /* background-color: rgba(25,25,25,0.7); */
    /* TODO @AdamrePL for some reason, the first letter of every paragraph in Definitions section keeps original highlight values, dark magic! */
}

/*! leaving comments as is, read if you want explanation from a guy who thinks he knows what he's doing. */
    /*Side note: We could use transparent background with different font-color for something else as it's very interesting, atleast idea of it is. */
    /*? why? if you really want to HIGHLIGHT user selection, use an eye burning color with black text(DONT) or dark&transparent selector with light text( :) )*/
    /**correction: depending on the theme of the site, dark mode for eg should use light to contrast between the selection and untouched text
    ** same reason as to why we're using dark & transparent for light mode, it naturally grabs the attention of the user */
    