@import "global.css";

* {
    margin: revert;
}

body {
    font-size: 14pt; /* is font supposed to be this big? I mean any font size could look good at this point here. But we need to choose if we want to improve styling here. */

    word-spacing: 0.3pt;
}

/* main {
    margin-inline: auto;
    width: min(80%, 1500px);
    box-shadow: 0px 0px 5px 1px lightgray;
} */

nav > ol > li {
    margin-block: 0.3rem;
}

/* TODO: @AdamrePL implement max width of website for content to be centered within */

article {
    margin-bottom: 2.5rem;
    line-height: 1.5;
}

h3::first-letter {
    text-transform: capitalize;
}

p {
    max-width: 80%;
    padding-left: 1rem;
}

::selection {
    color: black;
    background-color: mediumspringgreen; /* Side note: We could use transparent background with different font-color for something else as it's very interesting, atleast idea of it is. */
    /** 
       * ! Options that I tried/recommend: yellow, lime, limegreen, aqua, greenyellow (not to be mistaken with yellowgreen).
    */       
}
